body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
}
/*  font-family: 'Belanosima', sans-serif;*/

.container {
  max-width: 1200px; /* Adjust the width as needed */
  margin: 0 auto;
  background-color: #3f3f3f;
}

.container p {
  margin: 20px; /* Adjust the margin value as needed */
  font-size: 20px; /* Adjust the font size value as needed */
  line-height: 1.4;
  margin-bottom: 10px;
  color: #c8c3bc;
}

.container h1 {
  margin: 20px; /* Adjust the margin value as needed */
  font-family: 'Geologica', sans-serif;
  line-height: 1.4;
  margin-bottom: 10px;
  color: whitesmoke;
  display: inline-block;
  position: relative;
}

.container h1::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust the gap between text and underline */
  left: 0;
  width: 100%;
  border-bottom: 2px solid black; /* Adjust the underline style */
}

.top-bar {
  background-color: #3f3f3f;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

.top-bar a {
  color: #00ccff;
  text-decoration: none;
  font-size: 22px; /* Adjust the font size value as needed */
  font-family: 'Geologica', sans-serif;
  display: inline-block;
  position: relative;
}

.top-bar a::after {
  content: "";
  position: absolute;
  bottom: -5px; /* Adjust the gap between text and underline */
  left: 0;
  width: 100%;
  border-bottom: 2px solid black; /* Adjust the underline style */
}

.top-bar a:hover {
  color: #ccc;
}
